NODE_ENV=<environment development or production - not needed for Heroku>
PORT=<port number - not needed for Heroku>
HOSTNAME=<hostname - not needed for Heroku>
MONGO_URI=<mongodb uri>
GITHUB_WEBHOOK_SECRET=<github secret for sending webhooks>
GITHUB_WEBHOOK_URL=<Webhook POST URL>
GITHUB_CLIENT_ID=<github client id>
GITHUB_CLIENT_SECRET=<github client secret>
JSON_WEB_TOKEN_SECRET=<key for verifying the token signature>
JSON_WEB_TOKEN_ISSUER=<name of issuer for JWT>
JSON_WEB_TOKEN_AUDIENCE=<name of audience for JWT>
SENTRY_DSN=<sentry.io DSN for error notifications>
